.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: #fec601 2px solid;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #0b6aff;
  color: #fff;
  height: 52px;
  font-size: 15px;
  letter-spacing: 0.05rem;
  padding-top: 1.8%;
  padding-bottom: 1.8%;
}

.logo {
  margin-left: 0.8%;
  color: white;
  border: black;
  font: bold;
}

.datasearch {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  min-width: 30%;
  height: auto;
}

.datasearch .searchbox {
  border-radius: 30px;
  border: #fec601 3px solid;
  padding: 5px 16px 5px 30px;
  /* color: #c4c4c4; */
  color: black;
}

.suggestionlist {
  color: #424242;
  width: 90%;
  margin-left: 5%;
}

.display {
  display: flex;
  margin-top: 60px;
}

.leftSidebar {
  width: 21%;
  height: 100%;
  padding: 1.5% 1.5%;
  position: fixed;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.leftSidebar > div {
  margin: 40px 0;
}

@media all and (max-width: 768px) {
  .leftSidebar {
    position: static;
    width: 100%;
    height: auto;
    border-right: 0;
    border-bottom: 1px solid #f0f0f0;
  }
}

.author .author-list {
  max-height: 150px;
}

.mainBar {
  width: calc(79%);
  position: relative;
  left: 320px;
  padding: 0px 30px;
  background-color: #fefefe;
}

.result-data .result-image {
  background-size: cover;
  max-height: 200px;
}

.result-author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .home-login {
  margin-right: 0.5em;
} */

.wish-list {
  width: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0b6aff;
  border-radius: 5px;
  border: #fec601 1px solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.product-title {
  margin: 2%;
  color: black;
}
.price {
  margin-top: 1%;
  margin-right: 0%;
  margin-left: 2%;
  margin-bottom: 2%;
  color: green;
}
.source-website {
  margin-left: 2%;
  margin-bottom: 4%;
  text-transform: capitalize;
}

.main-page-logo {
  margin-left: 3%;
}
/* ::-webkit-input-placeholder {
  text-align: center;
} */
.website-tag {
  font: bold;
  margin-right: 2%;
}
