@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.contact-body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #232f3e;
  color: white;
  padding: 2em;
}
.cform-container {
  padding: 0 5em;
  width: 50%;
}
label {
  margin: 1em;
}
.cform-container form input {
  display: block;
  margin: 1em;
  width: 90%;
  padding: 0.5em;
}
.cform-container input[type="submit"] {
  background-color: #febd69;
  width: 10em;
  padding: 0.8em;
  margin: 3em 1em;
  border: none;
  cursor: pointer;
  border-radius: 0.3em;
  font-weight: bold;
}
.cform-container input[type="submit"]:hover {
  background-color: #dd9434;
}
.cform-container input[type="text"] {
  background-color: #c4c4c4;
  border-radius: 0.3em;
  border: none;
}
textarea:focus {
  background-color: white;
}
.cform-container input[type="email"] {
  background-color: #c4c4c4;
  border-radius: 0.3em;
  border: none;
}
.cform-container input[type="email"]:focus {
  background-color: white;
}
.cform-container input[type="text"]:focus {
  background-color: white;
}
textarea {
  background-color: #c4c4c4;
  display: block;
  margin: 1em;
  padding: 0.5em;
  width: 90%;
  border-radius: 0.3em;
  border: none;
}
.crest {
  display: flex;
  margin: 2em 7em;
  justify-content: space-between;
}
.cill {
  filter: drop-shadow(0 0 10px white);
  width: 300px;
  height: 300px;
  margin: 6em;
}

@media (max-width: 1000px) {
  .contact-body {
    width: 180%;
  }
  textarea {
    width: 90%;
  }
  contact-h1 {
    width: 150%;
  }
  .cill {
    visibility: collapse;
  }

  .cform-container {
    padding: 0;
  }
  .crest {
    padding: 0;
    margin: 0;
  }
}
