@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
body {
  border: #ffffff 3px solid;
  font-family: "Teko", sans-serif;
  background-color: #fafafa;
}
.lbody {
  font-family: "Roboto", sans-serif;
  background-color: #0b6aff;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "logo form";
  align-content: center;
  padding: 10em 10em 30em;
  margin: 0;
}

.email-lable {
  margin: 1em 0;
  color: white;
  font-size: 1em;
}

.email-box {
  border: none;
  border-radius: 0.5em;
  display: block;
  padding: 0.8em;
  width: 100%;
  margin: 0 0 3em;
  background-color: #c4c4c4;
}
.email-box:focus {
  background-color: white;
}
.pass-box {
  border: none;
  border-radius: 0.5em;
  display: block;
  padding: 0.8em;
  width: 100%;
  margin: 0 0 3em;
  background-color: #c4c4c4;
}
.pass-box:focus {
  background-color: white;
}
.pass-lable {
  margin: 1em 0;
  color: white;
  font-size: 1em;
}

.bt-login {
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.8em;
  width: fit-content;
  background-color: #fec601;
  font-weight: bold;
  color: 2d3142;
  border-width: 0.1%;
  border-color: black;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 2%;
  margin-bottom: 5%;
}

.bt-login:hover {
  background-color: #fec601;
}
.bt-signup {
  border-radius: 0.5em;
  cursor: pointer;
  border: none;
  padding: 0.8em;
  width: 10em;
  margin: 2em;
  background-color: #fec601;
  font-weight: bold;
}
.bt-signup:hover {
  background-color: #fec601;
}

.llogo {
  width: 200px;
  margin: 5em;
}

@media (max-width: 1000px) {
  .lbody {
    display: grid;
    grid-template-columns: 120% 0;
    grid-template-areas: "logo form";
    width: 70%;
    margin: -15em -0 0 -8em;
  }
  .llogo {
    grid-column: 1 / 1;
    margin: 8em 0 0 8em;
    width: 150px;
  }
  .form-container {
    grid-column: 1 / 1;
    width: 100%;
  }
  .bt-signup {
    margin: 2em 1em 0;
    display: block;
    width: 100%;
  }
  .bt-login {
    margin: 2em 1em 0;
    width: 100%;
  }
}
